.about-me {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 251, 224);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .about-me-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about-me-title {
      padding: 0 20px;
      font-size: 24px;
      font-weight: 600;

      .about-me-title1 {
        color: navy;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
      }
      .about-me-title2 {
        color: white;
        font-weight: 600;
        font-size: 24px;
        background-color: navy;
        text-align: center;
        padding: 0 5px;
      }
    }
    .about-me-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 500;

      .about-me-nav-item {
        padding: 0 20px;
      }
    }
  }
}

.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  padding:25px;

  .about-me-hello {
    font-size: 36px;
    font-weight: 600;
  }
  .about-me-name {
    font-size: 36px;
    font-weight: 600;
    color: navy;
    padding: 0;
  }
  .about-me-button {
    margin-top: 20px;
  }
}
