.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  img {
    justify-content: flex-start;
    align-items: left;
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: 900) {
  .navigation {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
