.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #fff;

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: right;
  }

  img {
    justify-content: flex-start;
    align-items: left;
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
